if methods.length
    h3 Methods
    ul
        each method in methods
            li
                a(href=`/tad${method.slug}`)= method.name
                |&#40; 
                if method.args.length
                each arg, index in method.args
                    span(data-tooltip=`${arg.type}: ${arg.description}` data-placement="right" class="clickable")=`${arg.name}` 
                    if index < method.args.length - 1
                        |, 
                | &#41;
                if admin
                    form(method="PUT" hx-put=`/tad/${method.page_id}?refertype=class&id=${parentId}` hx-target=".type-details" hx-swap="outerHTML")
                        input(type="text" name="short_description" value=method.short_description onkeydown="augment_textarea(event)")
                else        
                    span=` - ${method.short_description}`
else
    if admin
        h3 Methods
        p No methods found. You can add methods to this class.