extends ./base/layout.pug

block subnav 
    ul
        li

block content
    section.container
        h1 Hello #{user.name}!
        if env
            section
                h2 current env is #{env}

        if notes
            section.grid
                article
                    h5 Top notes:
                    hr 
                    ul
                        each note in notes
                            li.noliststyle.mbottom1
                                a(href=`/notes/${note.id}`).bold #{note.title} 
                                |  - #{note.content} 
