extends ../base/layout

include ./mixins/splitExample.pug

block append content
    link(href="/css/lib/jshighlight-atom-one-dark-min.css" type="text/css" rel="stylesheet")
    script(src="/js/highlight.min.js")
    +splitExample('snippetExample2', 'Code', 'Demo')
            // tab1 pane
            div.tab1.wfull(class=`${'snippetExample2'}_tab1`)
                pre.minh15
                    code.hljs.language-javascript.minh15= snippet.public
            // tab2 pane
            div.tab2(class=`${'snippetExample2'}_tab2`)
                iframe(src=`./run` width=280 height=280)

    +splitExample('snippetExample1', 'Code', 'Demo')
            // tab1 pane
            div.tab1.wfull(class=`${'snippetExample1'}_tab1`)
                pre.minh15
                    code.hljs.language-javascript.minh15= snippet.public

            // tab2 pane
            div.tab2(class=`${'snippetExample1'}_tab2`)
                iframe(src=`./run` width=280 height=280)                
    script(defer).
        hljs.highlightAll();
