extends ../base/layout

block title
    title BRAND | Notes

block append styles
    style.


        .note:hover,.note:focus {
            .date {
                display:none;
            } 

            .delete {
                display:block;
            }
        }


block append content
    script. 
        //if we do any more then this, it should probably become a web component
        function augment_textarea(event) { 
            const target = event.target || event.srcElement;
            const form = target.closest && target.closest('form') || document.querySelector("#notes_form");
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();
                form.requestSubmit();  
                //we give a touch of time for the form to have pulled data.
            }

        }
    article(class="container")
        header
            h2 Notes
        article
            form(
                id="notes_form"
                hx-post="/notes"
                action="/notes"
                hx-target=".notes"
                hx-select=".notes"
                hx-swap="outerHTML"
                hx-on::after-request="if(event.detail.successful) this.reset()" 
            )
                section
                    input(type="text" name="title" placeholder="title for the note" required)
                    textarea(
                        placeholder="note contents"
                        name="content"
                        rows="10"
                        onkeydown="augment_textarea(event)"
                        required
                    ).minh5
                input(type="submit" value="submit").hidden
        hr
        if notes.length > 0
            ul(class="notes").flex.flex-col-reverse.p0.m0
                for note of notes
                    li(class="note").noliststyle.p0.m0.flex1.fadein05
                        article.grid.p0.relative
                            section.relative.p1
                                section(class="date").top0.right0.absolute.fs06.p05 #{note.date}
                                form(
                                    hx-put=`/notes/${note.id}`
                                    hx-target="closest .note"
                                    hx-swap="outerHTML"
                                )
                                    input(type="text" name="title" placeholder="title for the note" required value=note.title).noborder.bgnone.m0
                                    textarea(
                                        placeholder="note contents"
                                        name="content"
                                        rows="10"
                                        onkeydown="augment_textarea(event)"
                                        required
                                    ).minh5.noborder.bgnone.m0= note.content
                                    input(type="submit" value="submit").hidden
                            button(
                                class="delete"
                                hx-delete=`/notes/${note.id}`
                                hx-confirm="Delete Post?"
                                hx-target=`closest .note`
                                hx-swap=`outerHTML`
                            ).bgerror.absolute.w2.h2.hidden.right1.top1.p0 X