include mixins.pug

div(id="page-details" hx-trigger="pageReload" hx-get=`/tad/view/${page.id}` hx-target="#page-details" hx-swap="outerHTML")
    if admin 
        div.mb-4.editPage.hidden
            div.flex.justify-between.mb-2
                div.flex3
                    h2.mbottom0 Edit Page
                    small.mbottom10 (press Shift+Enter for newline, Enter to save)
                div.flex1
                    button( role="button" onclick="toggleEditPage(event)").material-symbols-outlined.cancel-button cancel
            form(id="page-edit" method="PUT" hx-put=`/tad/${page.id}` hx-on:htmx:before-send="toggleEditPage(event)" hx-target="#page-details" hx-swap="outerHTML" class="mb-4").grid.grid-2col13.mtop1
                input(type="hidden" name="id" value=page.id)
                input(type="text" placeholder="Name" name="name" value=page.name onkeydown="augment_textarea(event)")
                input(type="text" placeholder="Short Description" name="short_description" value=page.short_description onkeydown="augment_textarea(event)")
                textarea#notes(name="long_description" placeholder="Long Description" onkeydown="augment_textarea(event)" rows="4" style="grid-column: span 2;")= page.long_description

    div.flex.justify-between.mb-4.viewPage
        div.lineh05.pbottom1.flex3
            h1.lineh05= page.name
            if(page.slug != '/')
                - let parts = page.slug.split('/').filter(part => part.length > 0).join('.');
                if parts.length > 0
                sub.lineh05="tad." + parts
        if admin
            - let delSlug = "/"
            case page.page_type
                when 'class': - delSlug += "classes/"
                when 'method': - delSlug += "methods/"
                when 'property': - delSlug += "properties/"
            - delSlug += page.id + "?referrer=page"
            - console.log(delSlug)
            div(role="group").flex1
                i(role="button" class="material-symbols-outlined" onclick="toggleEditPage(event)") edit
                i(role="button" id="page-delete" hx-delete=`${delSlug}` hx-confirm="Are you sure you want to delete" class="material-symbols-outlined" hx-swap="outerHTML")="delete"
    p!= mdLinks(page.long_description)
    
    section.tadlinks
            h3 Drawing
            ul
                +loadLi('tad-text', '/tad/text')
                +loadLi('tad-shape', '/tad/shape')
                +loadLi('tad-image', '/tad/image')
                +loadLi('tad-animation', '/tad/animation')
            
            h3 Gui
            ul
                +loadLi('tad-make', '/tad/make')
                +loadLi('tad-button', '/tad/button')
                +loadLi('tad-slider', '/tad/slider')
                +loadLi('tad-checkbox', '/tad/checkbox')
                +loadLi('tad-dropdown', '/tad/dropdown')

            h3 Input
            ul
                +loadLi('tad-keyboard', '/tad/keys')
                +loadLi('tad-mouse', '/tad/mouse')

            h3 Data
            ul
                +loadLi('tad-storage', '/tad/storage')
                +loadLi('tad-group', '/tad/group')
                +loadLi('tad-load', '/tad/load')

            h3 Games
            ul
                +loadLi('tad-make', '/tad/make')
                +loadLi('tad-collider', '/tad/collider')
                +loadLi('tad-sound', '/tad/sound')
                +loadLi('tad-time', '/tad/time')

            h3 Misc
            ul
                +loadLi('tad-math', '/tad/math')
                +loadLi('tad-make', '/tad/make')      
+breadcrumbs(page.slug, "true")
div(id="type-details" hx-target="#example-section" hx-swap="outerHTML" hx-swap-oob="true")
section(id="example-section" hx-target="#example-section" hx-swap="outerHTML" hx-swap-oob="true")
