
//- Draws editable description for linked page entry if in edit mode
mixin pageEntry(item, edit=false)
    if edit
        form(method="PUT" hx-put=`/tad/${item.MainPage.id}` hx-target=".content" hx-swap="outerHTML")
            input(type="text" name="short_description" value=item.MainPage.short_description onkeydown="augment_textarea(event)")
    else        
        span=` - ${item.MainPage.short_description}`

//- WIP: Draws main description for linked page entry if in edit mode
mixin mainEntry(item, edit=false)
    if edit
        form(method="PUT" hx-put=`/tad/${item.id}` hx-target="body" hx-swap="outerHTML")
            textarea(name="long_desc" onkeydown="augment_textarea(event)")= item.long_description
    else        
        div!= item.long_description

mixin breadcrumbs(slug, oob="false")
    div(id="docs-breadcrumb" class="flex2" hx-swap-oob=`${oob}`)
        - const parts = slug.split('/').filter(part => part.length > 0);
        - let path = '';
        nav(aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '.';")
            ul.breadcrumb
                li
                    if (parts.length === 1)
                        a(href="/tad" id="parent" hx-trigger="click, deletePageSuccess from:body" hx-get=`/tad` hx-target="#page-details" hx-swap="outerHTML" hx-push-url="true")='$'
                    else
                        a(href="/tad" hx-get=`/tad` hx-target="#page-details" hx-swap="outerHTML" hx-push-url="true")='$'
                each part, index in parts
                    - path += `${part}`;
                    if index === parts.length - 1
                        li=part
                    else
                        li
                            if (index === parts.length - 2)
                                a(href=`/tad/${path}` id=`parent` hx-trigger="click, deletePageSuccess from:body" hx-get=`/tad/${path}` hx-target="#page-details" hx-swap="outerHTML" hx-push-url="true")= part
                            else
                                a(href=`/tad/${path}` hx-get=`/tad/${path}` hx-target="#page-details" hx-swap="outerHTML" hx-push-url="true")= part
mixin libPath(slug)
    - let parts = slug.split('/').filter(part => part.length > 0).join('.');
    if parts.length > 0
        sub.lineh05="$." + parts

mixin editableField(heading, route, edit=false)
    div(class=`${heading}` hx-trigger="click[event.target.matches('i')] from:find .toggle-edit" hx-get=`${route}?edit=${!edit}` hx-target=`.${heading}` hx-swap="outerHTML")
        h4 heading
        |i(class="material-icons material-icon-button toggle-edit" role="button")= edit ? "check" : "edit"
        if block
            block

mixin materialIconButton(iconName, onClick)
    i(class=`material-icons material-icon-button` role="button" onClick=`${onClick}`)= iconName