if admin
  form(id="page-edit" method="PUT" hx-put=`/tad/${page.id}` hx-target="#page-edit" hx-swap="outerHTML" class="mb-4")
    h2.mbottom0 Edit Page
    small.mbottom10 (press Shift+Enter for newline, Enter to save)
    div.grid.grid-2col13.mtop1
      input(type="hidden" name="id" value=page.id)
      input(type="text" placeholder="Name" name="name" value=page.name onkeydown="augment_textarea(event)")
      input(type="text" placeholder="Short Description" name="short_description" value=page.short_description onkeydown="augment_textarea(event)")
      textarea#notes(name="long_description" placeholder="Long Description" onkeydown="augment_textarea(event)" rows="4" style="grid-column: span 2;")= page.long_description

else
  div.flex.justify-between.mb-4
    div.lineh05.pbottom1
      h1.lineh05= page.name
      if(page.slug != '/')
        - let parts = page.slug.split('/').filter(part => part.length > 0).join('.');
        if parts.length > 0
          sub.lineh05="$." + parts
  p= page.long_description