div(class="modules", hx-trigger="load" hx-get=`/classes/list/${parentId}` hx-swap="innerHTML" hx-target=".modules")
    h3 Modules
    p="Loading modules..."
div(class="methods", hx-trigger="load" hx-get=`/methods/list/${parentId}` hx-swap="innerHTML" hx-target=".methods")
    h3 Methods
    p="Loading methods..."
div(class="properties", hx-trigger="load" hx-get=`/properties/list/${parentId}` hx-swap="innerHTML" hx-target=".properties")
    h3 Properties
    p="Loading methods..."
                